th {
    user-select: none;
    position: relative;
    font-size: 80px;
    width: 120px;
    height: 120px;
   /* background-color: #fc08f4;*/
}
table {
    border: 4px solid #404040;
    margin: auto;
    display: table;
    border-collapse: separate;
    border-spacing: 0px; 
    border-color: grey;
}
.highlight {
    font-size: 100px;
}
.win {
    background-image: url(./iconchess/EB20TTAWsAUPpRE.jpg);
}